.color-block{
  position: relative;
  height: 10rem;
  width: 18rem;
}

.color-block > *{
  position: absolute;
  bottom: 3px;
  right: 1rem;
  text-align: right;
}

.colors-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.nav-link {
  font-size: 2rem;
  color: black;
}

.nav-link-active {
  color: var(--white);
}

.nav-logo {
  font-size: 3.5rem;
}

.hero {
  margin-top: 12rem;
}

.hero-head {
  font-size: 8rem;
}

.hero-description {
  font-size: 3.7rem;
}

.hero > .flex-container > .btn {
  margin-top: 2.5rem;
  padding: 1.5rem;
}

.installation-container {
  margin-top: 12rem;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.installation-description {
  margin-bottom: 5rem;
}

.installation-head {
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-size: 3.5rem;
}

.installation-body {
  font-size: 2.4rem;
}

.docs-body {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 5rem;
}

.aside-menu {
  height: 60rem;
  width: 20%;
  min-width: 13rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.aside-menu > .list > .link {
  padding: 0px;
}
.aside-link,
.menu-dropdown {
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  margin-right: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  max-width: 25rem;
}

.menu-dropdown {
  font-size: 2rem;
  display: none;
}

.aside-link:hover,
.aside-link-active {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.component-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.component-description {
  font-size: 2rem;
  line-height: 3rem;
}

.component-example-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 2rem;
}

.snippet-container {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  display: block;
}

.hljs {
  padding: 5rem !important;
}

@media screen and (max-width: 500px) {
  .card {
    max-width: 30rem;
  }
}

.card-actions {
  justify-content: space-between;
}

/* remove */
.modal-bg {
  z-index: 1;
}

.toast {
  z-index: 1;
}

.slider-input {
  border-radius: 5px;
}

footer{
  width: 100%;
}

body {
  font-size: 1.6rem;
}

.code {
  background: var(--primary-transparent);
  color: var(--primary-dark);
  padding: 3px;
}

/* aside - scrollbar */

.aside-menu::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.aside-menu::-webkit-scrollbar-track {
  background-color: var(--primary-transparent);
  border-radius: 8px;
}

/* Handle */
.aside-menu::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
}

/* Handle on hover */
.aside-menu::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

/* copy-btn */
.emgithub-container .copy-btn-dark {
  display: block !important;
  background-color: var(--primary-color) !important;
  background-color: var(--primary-dark) !important;
  color: var(--white) !important;
}

@media screen and (max-width: 1575px) {
  .installation-container {
    display: block;
  }
}

@media screen and (max-width: 1500px) {
  .colors-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .navbar-container {
    padding: 3rem 4%;
  }
  .aside-menu {
    width: 30%;
  }
  .colors-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .hero-head {
    font-size: 7rem;
  }

  .hero-description {
    font-size: 3rem;
  }

  .menu-dropdown {
    display: flex;
    align-items: center;
    color: var(--black);
    width: max-content;
  }
  .aside-menu {
    position: sticky;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 15rem !important;
    width: 100%;
    margin-bottom: 2rem;
  }
  .aside-list {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: none;
  }
  .docs-body {
    display: block;
  }
  .color-block{
    height: 12rem;
    width: 15rem;
  }
}

@media screen and (max-width: 400px){
  .colors-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .eg-footer{
    padding: 2rem 1rem;
  }
  .eg-social-links{
    gap: 3rem;
  }
}