<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input component</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="https://protean-ui.netlify.app/main.css" />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header class="navbar-container bg-primary white">
      <a class="link white" href="../index.html">
        <h2 class="nav-logo">ProteanUI</h2>
      </a>
      <nav>
        <ul class="list nav-links-container">
          <li>
            <a class="link btn nav-link" href="../index.html">Home</a>
          </li>
          <li>
            <a class="link btn nav-link nav-link-active" href="alert.html"
              >Docs</a
            >
          </li>
          <li>
            <a class="link btn nav-link text-large" href="#">Github</a>
          </li>
        </ul>
        <i class="material-icons hamburger-icon">menu</i>
      </nav>
    </header>
    <div class="docs-body">
      <p class="menu-dropdown">Menu
        <i class="material-icons dd-menu-icon">arrow_drop_down</i>
      </p>
      <aside class="aside-menu">
        <ul class="list aside-list">
          <a class="link" href="../components/alert.html"
            ><li class="aside-link">Alert</li></a
          >
          <a class="link" href="../components/avatar.html"
            ><li class="aside-link">Avatar</li></a
          >
          <a class="link" href="../components/badge.html"
            ><li class="aside-link">Badge</li></a
          >
          <a class="link" href="../components/button.html"
            ><li class="aside-link">Button</li></a
          >
          <a class="link" href="../components/card.html"
            ><li class="aside-link">Card</li></a
          >
          <a class="link" href="../components/grid.html"
            ><li class="aside-link">Grid</li></a
          >
          <a class="link" href="../components/image.html"
            ><li class="aside-link">Image</li></a
          >
          <a class="link" href="../components/input.html"
            ><li class="aside-link aside-link-active">Input</li></a
          >
          <a class="link" href="../components/list.html"
            ><li class="aside-link">List</li></a
          >
          <a class="link" href="../components/modal.html"
            ><li class="aside-link">Modal</li></a
          >
          <a class="link" href="../components/navigation.html"
            ><li class="aside-link">Navigation</li></a
          >
          <a class="link" href="../components/rating.html"
            ><li class="aside-link">Rating</li></a
          >
          <a class="link" href="../components/slider.html"
            ><li class="aside-link">Slider</li></a
          >
          <a class="link" href="../components/text-utilities.html"
            ><li class="aside-link">Text utilities</li></a
          >
          <a class="link" href="../components/toast.html"
            ><li class="aside-link">Toast</li></a
          >
        </ul>
      </aside>

      <div class="component-container">
        <h1>Input</h1>
        <p class="component-description">
          Input is used to collect data from the user.
        </p>

        <h2>Inputs and validations</h2>

        <p class="component-description">Add <span class="code">input</span> class to the input element.</p>

        <p class="component-description">Protean also provides input validations. Add <span class="code">input-validationState</span> to the input component for validation.</p>

        <p class="component-description">
          Additionaly, we can provide users with feedback message. Feedback message should have the <span class="code">validation-msg validationState</span> classes.
        </p>

        <div class="component-example-container">
          <form>
            <label>First name </label>
            <input class="input" />

            <label>Password</label>
            <input class="input input-success" />
            <p class="validation-msg success">Password is strong</p>

            <label>Last name</label>
            <input class="input input-warn" />
            <p class="validation-msg warn">Password is weak</p>

            <label>Password</label>
            <input class="input input-error" />
            <p class="validation-msg danger">An error occured</p>
          </form>
        </div>
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Finput-1.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>

        <h2>Textarea, radio button and checkbox</h2>

        <p class="component-description">
          Textarea allows the user to enter long text, such as comments. The user can drag and change the size of a textarea. Add <span class="code">text-area</span> class to make it responsive.
        </p>

        <p class="component-description">
          Radio input allows the user to choose one item from list of items.
        </p>

        <p class="component-description">
          On the other hand, checkbox allows the user to choose multiple items from a list of items.
        </p>

        <div class="component-example-container">
          <textarea class="text-area" cols="80" rows="6"></textarea>

          <label> <input type="radio" name="r-1" /> button-1 </label>
          <label> <input type="radio" name="r-1" /> button-2 </label>
          <label> <input type="radio" name="r-1" /> button-3 </label>

          <label> <input type="checkbox" name="cb-1" />option-1 </label>
          <label> <input type="checkbox" name="cb-1" />option-2 </label>
          <label> <input type="checkbox" name="cb-1" />option-3 </label>
        </div>
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Finput-2-textarea-cb-rb.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>
      </div>
    </div>
  </body>
  <!-- Not a part of component library please ignore -->
  <style>
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  </style>
   <script src="https://protean-ui.netlify.app/main.js"></script>
   <script src="../script.js"></script>
   <script>
    window.onload = function () {
      setTimeout(() => {
        copyBtnChange();
      }, 0);
    };
  </script>
</html>
