<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List component</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="https://protean-ui.netlify.app/main.css" />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header class="navbar-container bg-primary white">
      <a class="link white" href="../index.html">
        <h2 class="nav-logo">ProteanUI</h2>
      </a>
      <nav>
        <ul class="list nav-links-container">
          <li>
            <a class="link btn nav-link" href="../index.html">Home</a>
          </li>
          <li>
            <a class="link btn nav-link nav-link-active" href="alert.html"
              >Docs</a
            >
          </li>
          <li>
            <a class="link btn nav-link text-large" href="https://github.com/Chakravarthi0/Protean-UI/tree/dev/components">Github</a>
          </li>
        </ul>
        <i class="material-icons hamburger-icon">menu</i>
      </nav>
    </header>
    <div class="docs-body">
      <p class="menu-dropdown">
        Menu
        <i class="material-icons dd-menu-icon">arrow_drop_down</i>
      </p>
      <aside class="aside-menu">
        <ul class="list aside-list">
          <a class="link" href="../components/alert.html"
            ><li class="aside-link">Alert</li></a
          >
          <a class="link" href="../components/avatar.html"
            ><li class="aside-link">Avatar</li></a
          >
          <a class="link" href="../components/badge.html"
            ><li class="aside-link">Badge</li></a
          >
          <a class="link" href="../components/button.html"
            ><li class="aside-link">Button</li></a
          >
          <a class="link" href="../components/card.html"
            ><li class="aside-link">Card</li></a
          >
          <a class="link" href="../components/colors.html"
            ><li class="aside-link">Colors</li></a
          >
          <a class="link" href="../components/footer.html"
            ><li class="aside-link">Footer</li></a
          >
          <a class="link" href="../components/grid.html"
            ><li class="aside-link">Grid</li></a
          >
          <a class="link" href="../components/image.html"
            ><li class="aside-link">Image</li></a
          >
          <a class="link" href="../components/input.html"
            ><li class="aside-link">Input</li></a
          >
          <a class="link" href="#"
            ><li class="aside-link aside-link-active">List</li></a
          >
          <a class="link" href="../components/modal.html"
            ><li class="aside-link">Modal</li></a
          >
          <a class="link" href="../components/navigation.html"
            ><li class="aside-link">Navigation</li></a
          >
          <a class="link" href="../components/rating.html"
            ><li class="aside-link">Rating</li></a
          >
          <a class="link" href="../components/slider.html"
            ><li class="aside-link">Slider</li></a
          >
          <a class="link" href="../components/text-utilities.html"
            ><li class="aside-link">Text utilities</li></a
          >
          <a class="link" href="../components/toast.html"
            ><li class="aside-link">Toast</li></a
          >
        </ul>
      </aside>

      <div class="component-container">
        <h1>List</h1>
        <p class="component-description">
          List is used to list out elements in a sequential manner.
        </p>

        <h2>Normal list</h2>

        <p class="component-description">
          Apply the classes <span class="code">list</span> to the list container
          and <span class="code">list-head</span> to the list heading.
        </p>

        <div class="component-example-container">
          <ul class="list">
            <p class="list-head">List</p>
            <li>Lorem ipsum dolor</li>
            <li>
              ommodi exercitationem quibusdam praesentium quos error! Sed
              consequatur, ab necessitatibus rem
            </li>
            <li>sit amet consectetur adipisicing elit.</li>
            <li>Quisquam accusantium, facilis quasi</li>
          </ul>
        </div>
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Flist-1-normal.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>

        <h2>Stacked list</h2>

        <p class="component-description">
          In stacked list, elements will be stacked on top of each other.
        </p>

        <div class="component-example-container">
          <ul class="list bg-white-pure">
            <p class="list-head bg-black white-pure">Notifications</p>
            <li class="flex">
              <img class="avatar avatar-xs" src="https://picsum.photos/400" />
              <div class="flex flex-col">
                <p>Alice commented on your post</p>
                <span class="gray-dark text-small">5 secs ago</span>
              </div>
            </li>

            <li class="flex">
              <img class="avatar avatar-xs" src="https://picsum.photos/500" />
              <div class="flex flex-col">
                <p>Jane Doe Liked your message</p>
                <span class="gray-dark text-small">5 mins ago</span>
              </div>
            </li>

            <li class="flex">
              <img class="avatar avatar-xs" src="https://picsum.photos/100" />
              <div class="flex flex-col">
                <p>John Doe has sent you a friend request</p>
                <span class="gray-dark text-small">33 mins ago</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Flist-2-notification.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>

        <h2>List with border</h2>

        <p class="component-description">
          Borders can be added to the list by adding
          <span class="code">list-border</span> class to the container.
        </p>

        <div class="component-example-container">
          <ul class="list list-border">
            <p class="list-head">List</p>
            <li>Lorem ipsum dolor</li>
            <li>
              ommodi exercitationem quibusdam praesentium quos error! Sed
              consequatur, ab necessitatibus rem
            </li>
            <li>sit amet consectetur adipisicing elit.</li>
            <li>Quisquam accusantium, facilis quasi</li>
          </ul>
        </div>
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Flist-3-border.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>
      </div>
    </div>
  </body>
  <script src="https://protean-ui.netlify.app/main.js"></script>
  <script src="../script.js"></script>
  <script>
    window.onload = function () {
      setTimeout(() => {
        copyBtnChange();
      }, 0);
    };
  </script>
</html>
