<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation component</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="https://protean-ui.netlify.app/main.css" />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header class="navbar-container bg-primary white">
      <a class="link white" href="../index.html">
        <h2 class="nav-logo">ProteanUI</h2>
      </a>
      <nav>
        <ul class="list nav-links-container">
          <li>
            <a class="link btn nav-link" href="../index.html">Home</a>
          </li>
          <li>
            <a class="link btn nav-link nav-link-active" href="alert.html"
              >Docs</a
            >
          </li>
          <li>
            <a class="link btn nav-link text-large" href="https://github.com/Chakravarthi0/Protean-UI/tree/dev/components">Github</a>
          </li>
        </ul>
        <i class="material-icons hamburger-icon">menu</i>
      </nav>
    </header>
    <div class="docs-body">
      <p class="menu-dropdown">Menu
        <i class="material-icons dd-menu-icon">arrow_drop_down</i>
      </p>
      <aside class="aside-menu">
        <ul class="list aside-list">
          <a class="link" href="../components/alert.html"
            ><li class="aside-link">Alert</li></a
          >
          <a class="link" href="../components/avatar.html"
            ><li class="aside-link">Avatar</li></a
          >
          <a class="link" href="../components/badge.html"
            ><li class="aside-link">Badge</li></a
          >
          <a class="link" href="../components/button.html"
            ><li class="aside-link">Button</li></a
          >
          <a class="link" href="../components/card.html"
            ><li class="aside-link">Card</li></a
          >
          <a class="link" href="../components/colors.html"
            ><li class="aside-link">Colors</li></a
          >
          <a class="link" href="../components/footer.html"
            ><li class="aside-link">Footer</li></a
          >
          <a class="link" href="../components/grid.html"
            ><li class="aside-link">Grid</li></a
          >
          <a class="link" href="../components/image.html"
            ><li class="aside-link">Image</li></a
          >
          <a class="link" href="../components/input.html"
            ><li class="aside-link">Input</li></a
          >
          <a class="link" href="../components/list.html"
            ><li class="aside-link">List</li></a
          >
          <a class="link" href="../components/modal.html"
            ><li class="aside-link">Modal</li></a
          >
          <a class="link" href="#"
            ><li class="aside-link aside-link-active">Navigation</li></a
          >
          <a class="link" href="../components/rating.html"
            ><li class="aside-link">Rating</li></a
          >
          <a class="link" href="../components/slider.html"
            ><li class="aside-link">Slider</li></a
          >
          <a class="link" href="../components/text-utilities.html"
            ><li class="aside-link">Text utilities</li></a
          >
          <a class="link" href="../components/toast.html"
            ><li class="aside-link">Toast</li></a
          >
        </ul>
      </aside>

      <div class="component-container">
        <h1>Navigation</h1>
        <p class="component-description">
          The navbar component helps the user to navigate through the website.
        </p>

        <p class="component-description">
          Protean provides two types of navbars, simple navbar and responsive
          navbar.
        </p>

        <h2>Simple navbar</h2>

        <div class="component-example-container">
          <header class="navbar-container bg-white-pure">
            <h2 class="nav-logo">LOGO</h2>
            <nav>
              <ul class="list nav-links">
                <li>
                  <a class="link btn btn-primary nav-link" href="#">Sign In</a>
                </li>
                <li>
                  <a class="link btn btn-primary nav-link" href="#">Sign Up</a>
                </li>
              </ul>
            </nav>
          </header>
        </div>
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Fnav-1.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>

        <h2>Responsive navbar with submenu</h2>

        <div class="component-example-container">
          <header class="navbar-container bg-white-pure">
            <h2 class="nav-logo">LOGO</h2>
            <nav>
              <ul class="list nav-links">
                <li>
                  <a class="link btn btn-primary nav-link" href="#">Sign In</a>
                </li>
                <li>
                  <div class="dropdown close">
                    <a class="btn bg-primary link nav-link black">Dropdown</a>
                    <div class="dropdown-content">
                      <a class="link btn-link bg-white-pure" href="#">Link 1</a>
                      <a class="link btn-link bg-white-pure" href="#">Link 2</a>
                      <a class="link btn-link bg-white-pure" href="#">Link 3</a>
                    </div>
                  </div>
                </li>
              </ul>
            </nav>
          </header>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Fnav-2-submenu.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
      </div>
    </div>
  </body>
  <!-- Not related to component library -->
  <style>
    .component-example-container {
      display: block;
    }
  </style>
  <script src="https://protean-ui.netlify.app/main.js"></script>
  <script src="../script.js"></script>
  <script>
    window.onload = function () {
      setTimeout(() => {
        copyBtnChange();
      },0);
    };
  </script>
</html>
