<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text utilities</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="https://protean-ui.netlify.app/main.css" />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header class="navbar-container bg-primary white">
      <a class="link white" href="../index.html">
        <h2 class="nav-logo">ProteanUI</h2>
      </a>
      <nav>
        <ul class="list nav-links-container">
          <li>
            <a class="link btn nav-link" href="../index.html">Home</a>
          </li>
          <li>
            <a class="link btn nav-link nav-link-active" href="alert.html"
              >Docs</a
            >
          </li>
          <li>
            <a class="link btn nav-link text-large" href="https://github.com/Chakravarthi0/Protean-UI/tree/dev/components">Github</a>
          </li>
        </ul>
        <i class="material-icons hamburger-icon">menu</i>
      </nav>
    </header>
    <div class="docs-body">
      <p class="menu-dropdown">Menu
        <i class="material-icons dd-menu-icon">arrow_drop_down</i>
      </p>
      <aside class="aside-menu">
        <ul class="list aside-list">
          <a class="link" href="../components/alert.html"
            ><li class="aside-link">Alert</li></a
          >
          <a class="link" href="../components/avatar.html"
            ><li class="aside-link">Avatar</li></a
          >
          <a class="link" href="../components/badge.html"
            ><li class="aside-link">Badge</li></a
          >
          <a class="link" href="../components/button.html"
            ><li class="aside-link">Button</li></a
          >
          <a class="link" href="../components/card.html"
            ><li class="aside-link">Card</li></a
          >
          <a class="link" href="../components/colors.html"
            ><li class="aside-link">Colors</li></a
          >
          <a class="link" href="../components/footer.html"
            ><li class="aside-link">Footer</li></a
          >
          <a class="link" href="../components/grid.html"
            ><li class="aside-link">Grid</li></a
          >
          <a class="link" href="../components/image.html"
            ><li class="aside-link">Image</li></a
          >
          <a class="link" href="../components/input.html"
            ><li class="aside-link">Input</li></a
          >
          <a class="link" href="../components/list.html"
            ><li class="aside-link">List</li></a
          >
          <a class="link" href="../components/modal.html"
            ><li class="aside-link">Modal</li></a
          >
          <a class="link" href="../components/navigation.html"
            ><li class="aside-link">Navigation</li></a
          >
          <a class="link" href="../components/rating.html"
            ><li class="aside-link">Rating</li></a
          >
          <a class="link" href="../components/slider.html"
            ><li class="aside-link">Slider</li></a
          >
          <a class="link" href="#"
            ><li class="aside-link aside-link-active">Text utilities</li></a
          >
          <a class="link" href="../components/toast.html"
            ><li class="aside-link">Toast</li></a
          >
        </ul>
      </aside>

      <div class="component-container">
        <h1>Text utilities</h1>
        <p class="component-description">
          Alert is used to display user profiles
        </p>

        <h2>Headings</h2>

        <p class="component-description">
          Protean provides six different types of headings starting from <span class="code">&#60;h1&#62;</span> 
          to <span class="code">&#60;h6&#62;</span>.
        </p>

        <div class="component-example-container">
          <h1>Heading 1</h1>

          <h2>Heading 2</h2>

          <h3>Heading 3</h3>

          <h4>Heading 4</h4>

          <h5>Heading 5</h5>

          <h6>Heading 6</h6>
        </div>

        
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Ftext-u-1-heading.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>
        
        <h2>Alignment</h2>

        <p class="component-description">
          Text can be aligned in three different positions, left, right and center. The position of text can be changed using <span class="code">text-textAlignment</span> class.
        </p> 

        <div class="component-example-container dummy-container">
          <p class="text-center">I am centered</p>

          <p class="text-left">Text Left</p>

          <p class="text-right">Text Right</p>
        </div>
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Ftext-u-2-align.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>

        <h2>Paragraph variations</h2>

        <p  class="component-description">The size of text can be made bigger using the <span class="code">text-large</span> class. Similarly, text can me made smaller using the <span class="code">text-small</span> class</p>

        <p  class="component-description">
          Font color can be changed to gray using the <span class="code">gray</span> class.
        </p>

        <div class="component-example-container">
          <p class="gray">I am gray text</p>

          <p class="text-small">I am small text</p>

          <p>I am normal text</p>

          <p class="text-large">I am large text</p>
        </div>
        <div class="snippet-container">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FChakravarthi0%2Fexample-snippets%2Fblob%2Fmain%2Ftext-u-3.html&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>
      </div>
    </div>
  </body>

  <style>
    .dummy-container{
      display: block;
      border: 2px solid var(--black);
      padding: 4rem 0rem;
    }
  </style>
  <script src="https://protean-ui.netlify.app/main.js"></script>
  <script src="../script.js"></script>
  <script>
    window.onload = function () {
      setTimeout(() => {
        copyBtnChange();
      }, 0);
    };
  </script>
</html>
